.user {
  padding: 10px;
  border-radius: 5px;

  &-description {
    color: #c4c1c1;
  }

  &-info {
    display: flex;
    flex-direction: column;
  }
}

.link {
  background-color: #413131;
  width: 20px;
  height: 30px;
}

.modal-header {
  background-color: #333;
  color: #fff;
  border-bottom: none;
}

.modal-title {
  color: #fff;
}

.modal-body {
  background-color: #222;
  color: #fff;
  border: none;
}

.modal-footer {
  background-color: #333;
  border-top: none;
}

.heading {
  font-size: 1.5rem;
  margin: 0;
}
