@import 'bootstrap/scss/bootstrap';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #434242;
  border: none;
  outline: none;
}
